--extra-index-url https://pypi.fury.io/rmalhotra2192/
django
whitenoise
django-cors-headers
django-health-check
djangorestframework
djangorestframework_simplejwt
python-dotenv
psycopg2-binary
gunicorn
django-rest-passwordreset
hashids
django-grappelli
openai
qdrant-client
google-auth
google-cloud-secret-manager
studylens-utils==0.7.5