{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            {% autoescape off %}{{ subject }}{% endautoescape %}
            <p>{% trans "Hello," %}</p>
            <p>{% trans "We have received a request to reset the password for your account." %}</p>
            <p>{% trans "Please click the link below to reset your password:" %}</p>
            <p><a href="{{ reset_password_url }}">{{ reset_password_url }}</a></p>
            <p>{% trans "If you did not request a password reset, please ignore this email." %}</p>
            <p>{% trans "Thank you for using our services." %}</p>
        </div>
    </body>
</html>

